{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "react", "react-hooks", "react-refresh"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended"
  ],
  "rules": {
    "@typescript-eslint/no-explicit-any": "warn",
    "react/react-in-jsx-scope": "off",
    "react-refresh/only-export-components": "warn"
  },
  "ignorePatterns": ["node_modules/**", "dist/**", "lib/**"],
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
