/* google font */
@import url("https://fonts.googleapis.com/css2?family=Kurale&display=swap");
/* layout */
:root {
  --primary: #ee6c4d;
  --transparent: rgba(0, 0, 0, 0.6);
}

body {
  background: #fdd4ab92;
  margin: 0;
  font-family: "Kurale", serif;
}

header {
  background: #fff;
  width: 100vw;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #000000;
  text-decoration: none;
}

header h1 {
  letter-spacing: 2px;
}

.navbar-left {
  display: flex;
  gap: 10px;
  align-items: center;
}
.pages {
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

/* drawer */

.drawer-heading {
  text-align: center;
}

.drawer-list {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 10px;
}

.drawer-list a {
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  margin: 0 0 10px 0;
}

.drawer-list a:hover {
  color: var(--primary);
}

.drawer-list a:active {
  color: var(--primary);
}

/* homepage */
.home {
  margin: 0;
}

.info {
  margin-top: 50px;
  text-align: center;
  font-size: 16px;
}

.recipe-list {
  align-content: center !important;
}

.recipes {
  display: flex;
  justify-content: center;
}

input[name="search"] {
  height: 2rem;
  width: 50%;
  min-width: 270px;
  padding-left: 40px;
  background-image: url("./assets/search.svg");
  background-position: 10px 50%;
  background-repeat: no-repeat;
  background-size: 1rem;
  border-radius: 20px;
  margin: 0 auto 10px auto;
}

/* recipe card */
.recipe-card * {
  font-family: "Kurale", serif;
}

.card-content p {
  color: var(--transparent);
  font-size: 14px;
  margin: 5px auto 20px auto;
}

.recipe-details-tags {
  margin: 10px 0 0 0;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.card-ratings {
  color: var(--transparent);
  font-size: 14px;
}

.recipe-card img {
  width: 90%;
  display: block;
  margin: auto;
  border-radius: 10px;
}

.expanded-card-content .servings-time {
  color: var(--transparent);
  margin: 0;
  text-align: center;
  font-size: 14px;
}

.expanded-card-content h4 {
  margin: 14px 5px;
}

.expanded-card-content ul {
  list-style-type: circle;
  font-size: 14px;
}

.recipe-details-steps .ql-editor {
  padding: 0;
  font-size: 14px;
}

.recipe-details-steps ol,
.recipe-details-steps ul {
  padding: 0;
}

.expand-more {
  margin-left: auto;
  transition: transform 0.2s ease-in-out;
}

.expand-more.rotate {
  transform: rotate(180deg);
}

.expand-more:hover {
  cursor: pointer;
}

/* new recipe form */
form {
  max-width: 600px;
  min-width: 350px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form h3 {
  text-align: center;
}

form img[alt="recipe-book"] {
  width: 60px;
  display: block;
  margin: 0 auto;
}

.form-small {
  width: 96%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.form-ingredient {
  width: 96%;
  display: flex;
  align-items: center;
  gap: 5px;
}

.form-editor {
  width: 96%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.markdown-editor .ql-editor {
  min-height: 150px;
  background-color: white;
}

.markdown-editor .ql-toolbar {
  background-color: rgba(255, 255, 255, 0.549);
}

input,
textarea {
  padding: 5px;
  margin: 10px auto;
  width: 95%;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-family: "Roboto";
}

textarea {
  resize: vertical;
}

.private {
  display: flex;
  gap: 10px;
  align-items: center;
}

.private input {
  margin: 0;
  width: 1rem;
  height: 1rem;
}

.ingredient-btn {
  padding: 3px 5px;
  display: inline-block;
}

form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 8px 30px;
  font-family: inherit;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

.css-4xbbh5-MuiAutocomplete-root .MuiOutlinedInput-root.MuiInputBase-sizeSmall {
  font-size: 13px;
  font-family: "Roboto" serif;
}

/* navbar */
nav {
  display: flex;
  align-items: center;
}
nav a,
nav button {
  margin-left: 10px;
}

nav span {
  font-family: "Kurale", serif;
}

nav button {
  background: #fff;
  color: var(--primary);
  border: 2px solid var(--primary);
  padding: 6px 10px;
  border-radius: 4px;
  font-family: "Kurale", serif;
  cursor: pointer;
  font-size: 1em;
  margin-left: 10px;
}

/* auth forms */
form.signup,
form.login {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
}

@media screen and (max-width: 690px) {
  .home {
    display: flex;
    flex-direction: column;
  }

  .home > div {
    width: 95%;
  }
}

@media screen and (max-width: 600px) {
  .container {
    min-width: 350px;
  }

  .home {
    min-width: 350px;
    margin: 0 auto;
  }

  .home > div {
    width: 95%;
  }

  .navbar-left img[alt="logo"] {
    display: none;
  }

  .navbar-right {
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .info {
    font-size: 20px;
    margin-top: calc(100vh/4);
  }
}
